* {
  padding: 0;
  margin: 0;
  color: white;
}
#navbar {
  height: 60px;
  background-color: black;
}
button {
  background-color: #f08804;
}
#logo {
  background-color: #f08804;
  font-size: 25px;
}

a {
  margin-right: 200px;
  height: 60px;
  text-decoration: none;
}
.content {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
}
#content {
  height: 540px;
}
#oo {
  background-color: black;
  text-align: center;
}
